<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="cabeca">
      <ion-back-button
        slot="start"
        text="Voltar"
        defaultHref="/home"
      ></ion-back-button>
      <img src="../../../assets/icon/logo.png" />
      <ion-icon
        slot="end"
        size="large"
        name="cart-outline"
        routerLink="/cart"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-divison">
    <div class="div-perfil">
      <img src="assets/icon/user.png" alt="" />
      <span>Fashion Frenzy</span>
    </div>

    <div class="div-container">
      <h3>Perfil</h3>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Dados Pessoais</ion-label>
          </ion-item>
          <div class="ion-padding roud" slot="content">
            <form [formGroup]="formulario">
              <ion-list>
                <ion-item>
                  <ion-input
                    formControlName="nome"
                    label="Nome"
                    labelPlacement="floating"
                    placeholder="Enter text"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    formControlName="cpf"
                    label="Cpf"
                    labelPlacement="floating"
                    placeholder="Enter text"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    formControlName="nascimento"
                    label="Data de Nascimento"
                    type="date"
                    labelPlacement="floating"
                    placeholder="Enter text"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    formControlName="tel"
                    label="Telefone"
                    labelPlacement="floating"
                    placeholder="Enter text"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    formControlName="endereco"
                    label="Endereço"
                    labelPlacement="floating"
                    placeholder="Enter text"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    formControlName="email"
                    label="Email"
                    labelPlacement="floating"
                    placeholder="Enter text"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    formControlName="senha"
                    label="Senha"
                    labelPlacement="floating"
                    type="password"
                    placeholder="Enter text"
                  ></ion-input>
                </ion-item>


                  <ion-button size="default">Salvar</ion-button>

              </ion-list>
            </form>
          </div>
        </ion-accordion>

        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Pedidos</ion-label>
          </ion-item>
          <div class="ion-padding roud" slot="content">Second Content</div>
        </ion-accordion>

        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>Compras Realizadas</ion-label>
          </ion-item>
          <div class="ion-padding roud" slot="content">Third Content</div>
        </ion-accordion>

        <ion-accordion value="for">
          <ion-item slot="header" color="light">
            <ion-label>Cupons</ion-label>
          </ion-item>
          <div class="ion-padding roud" slot="content">Third Content</div>
        </ion-accordion>

        <ion-accordion value="five">
          <ion-item slot="header" color="light">
            <ion-label>Central de ajuda</ion-label>
          </ion-item>
          <div class="ion-padding roud" slot="content">Third Content</div>
        </ion-accordion>

        <ion-accordion value="six">
          <ion-item slot="header" color="light">
            <ion-label>Sobre Nós</ion-label>
          </ion-item>
          <div class="ion-padding roud" slot="content">Third Content2</div>
        </ion-accordion>
      </ion-accordion-group>
      <button class="button-exit">Sair</button>
    </div>
  </div>
</ion-content>
