<ion-content class="ion-padding">
  <h1>Welcome,</h1>
  <h3>Sign up to continue!</h3>

  <form [formGroup]="formulario">

    <ion-list>
      <ion-item>
        <ion-input formControlName="nome" label="Nome" labelPlacement="stacked" placeholder="Informe seu nome"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input formControlName="cpf" label="CPF" labelPlacement="stacked" placeholder="00000000000"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input formControlName="tel" label="Telefone" labelPlacement="stacked" placeholder="(00) 00000-0000"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input formControlName="email" label="Email ID" labelPlacement="stacked" placeholder="Informe seu e-mail"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input formControlName="senha" label="Password" labelPlacement="floating" placeholder="Informe sua senha" type="Password"></ion-input>
      </ion-item>
    </ion-list>

    <app-button label="Cadastrar"></app-button>

  </form>

  <p class="footer-text">I already have an account,<a routerLink="/register"> Sign in</a></p>

</ion-content>
