<!-- <ion-menu-toggle>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/account">{{ nome_cliente }}</ion-item>
        <ion-item (click)="onLogout()">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-menu-toggle> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button class="icon-menu active" tab="principal">
      <ion-icon size="large" name="home-outline"></ion-icon>
      <span>HOME</span>
    </ion-tab-button>

    <ion-tab-button class="icon-menu" tab="subcategorie">
      <ion-icon size="large" name="apps-outline"></ion-icon>
      <span>CATEGORIA</span>
    </ion-tab-button>

    <ion-tab-button class="icon-menu" tab="notification">
      <ion-icon size="large"  name="notifications-outline"></ion-icon>
      <span>LEMBRETE</span>
    </ion-tab-button>

    <ion-tab-button class="icon-menu" tab="favorite">
      <ion-icon size="large" name="heart-outline"></ion-icon>
      <span>FAVORITOS</span>
    </ion-tab-button>

    <ion-tab-button class="icon-menu" tab="account">
      <ion-icon size="large" name="person-outline"></ion-icon>
      <span>PERFIL</span>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
